.photo-produtc {
  background-color: #fff;
  float: left;
  height: 554px;
  float: left;
  vertical-align: middle;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  margin-right: 157px;
}
